
// Fonts
@import url("https://fonts.googleapis.com/css?family=Roboto");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:800");

// Variables
@import "variables";

// Bootstrap
@import "~bootstrap-sass/assets/stylesheets/bootstrap";

h1 {
	font-weight: bold;
	color: #fff;
  font-family: 'Open Sans', sans-serif;
}

h2 {
	color: #fff;
	font-weight: bold;
}

h3 h4 h5 h6 {
	color: #fff;
}

body {
  background-repeat: repeat;
  background-size: auto;
}

header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  //background: rgba(0, 0, 0, 0.4);
  height: 130px;
  z-index: 3;
}

label {
  color: #fff
}

a {
  text-decoration: none !important;
}

::placeholder {
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
   color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
   color: #fff;
}

.padding-less {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

//test navbar 

.overlay {
    /* full screen */
    width: 100vw;
    height: 100vh;
    /* transparent black */
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    top: 0;
    left: 0;
    display: none;
    /* middle layer, i.e. appears below the sidebar */
    z-index: 9998;
}

#sidebar {
    min-width: 250px;
    max-width: 250px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    /* top layer */
    z-index: 9999;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #47748b;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}
#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active > a, a[aria-expanded="true"] {
    color: #fff;
    background: #6d7fcc;
}

//test

.navbar, .navbar-inverse {
  border-radius: 0;
  border: none;
  margin-bottom: 0;
  min-height: 80px;
  background: transparent !important;
}

.nav li {
  display: inline;
  color: white;
}

.navbar-collapse.in {
  background: #000;
}

.navbar-inverse .navbar-nav > li > a {
  //color: #ffffff;
  //font-family: Lato;
  //font-size: 1.7em;
  //font-weight: 300;

  padding: 30px 25px 33px 25px;
}

.navbar-inverse .navbar-nav li a:hover {
  //background-color: #444444;
  transition: 0.7s all linear;
  height: 100%;
}

.header-text {
  color: #fff !important;
}

.font-sub {
  font-family: 'Open Sans', sans-serif;
}

.white {
  color: #fff !important;
}

.yellow {
  color: #DCA852 !important;
}

.btn-outline {
  width: 100%;
  border: 1px solid #fff;
  border-radius: 0px;
  background-color: transparent;
  color: #fff;
}

.hollow-input {
  border: 1px solid #fff;
  color: #fff;
  background-color: transparent;
  border-radius: 0px;
}

#return-to-top {
    position: fixed;
    bottom: 20px;
    right: 40px;
    padding: 11px;
    background: #FECA08;
    //background: rgba(0, 0, 0, 0.7);
    width: 50px;
    height: 50px;
    display: block;
    text-decoration: none;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
    display: none;
    -webkit-transition: all 0.3s linear;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top i {
    color: #fff;
    margin: 0;
    position: relative;
    left: 16px;
    top: 13px;
    font-size: 19px;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease;
}
#return-to-top:hover {
    background: #FECA08
}
#return-to-top:hover i {
    color: #fff;
    top: 5px;
}

footer {
  //height: 400px;
  //position: relative;
  //min-height: 400px; 

  /* Create the parallax scrolling effect */
  //background-image: url('http://localhost:8000/images/cover.jpg');
  //background-attachment: fixed;
  //background-position: center;
  //background-repeat: no-repeat;
  //background-size: cover;
}

.partner-circle {
   height: 100px;
   width: 100px;
   //border-radius: 90px;
   background: #fff;
   
   margin: 0 auto;
   margin-left: 50px !important;
   position: relative;
   overflow: hidden;
   border-radius: 50%;
}

.partner-circle img{
    display: inline;
    margin: 0 auto;
    height: 100%;
    width: auto;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.partner-circle img:hover {
    -webkit-filter: none; /* Safari 6.0 - 9.0 */
    filter: none;
}


.ready-for-tour {
  height: 500px;
  position: relative;
  min-height: 500px; 

  /* Create the parallax scrolling effect */
  background-image: url('http://localhost:8000/images/cover.jpg');
  //background-attachment: fixed;
  background-position: bottom;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 150px;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 500px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0), #0b0b0c);

    //opacity: .7; 
  }
}

.for-tour-text {
  //position: absolute;
  //width: 50%; margin:0 auto;
}

.contact-container {
  background: rgba(13,13,13, 0.8);
  padding-top: 20px;
  padding-bottom: 40px;
}

.copyright {
  height: 60px;
  //position: absolute;
  //bottom: 0;
  //left: 0;
  //right: 0;
  background: #0d0d0d;
  padding-top: 18px;
  //padding: 15px;
}

.padding-less {
  padding-left: 0px;
  padding-right: 0px;
}

.margin-auto {
  margin: 0 auto;
}

.cover-image {
	position: relative;
	height: 700px; background-size: cover; 
	//background-position: center; 
  min-height: 700px; 

  /* Create the parallax scrolling effect */
  //background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

	&:before {
	    content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 730px;
		//background-image: linear-gradient(#005aff, rgba(0,90,255, 0.2), #000);
    background: radial-gradient(rgba(0, 0, 0, 0.1), #000 80%);
		//opacity: .7; 
   }
}

.cover-text {
    position: absolute;
    top: 200px;
    //700px
    //width: -webkit-calc(1170px - 30px);
    //width:    -moz-calc(1170px - 30px);
    //width:         calc(1170px - 30px);
    height: 700px;
    left: 0;
    right: 0;
    //padding-left: 150px;
    //padding-right: 150px;
    //background: red;
    z-index: 2;
    text-align: center;
}

.cover-text-header {
  font-size: 100px !important;
  color: #fff !important;
  background: -webkit-linear-gradient(#fff, rgba(255, 255, 255, 0));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

@media only screen and (max-width: 768px) {

    h1 {
        font-size: 28px;
    }

    .cover-text-header { 
        font-size: 52px !important
    }
    .cover-text {
        top: 250px;
    }

    .tour-title {
      font-size: 34px !important;
    }

    .info-header {
      bottom: -40px !important;
      left: 15% !important;
    }

    .tour-plan {
      text-align: justify;
      padding-left: 40px;
      //border-bottom: 1px solid #000;
    }
}

.taimen-cover-image {
	position: relative;
	//height: 450px; 
  //background-size: cover; 
	//background-position: center; 
  //min-height: 450px; 

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 40px;

	&:before {
	  content: '';
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
    background: radial-gradient(rgba(0, 0, 0, 0.1), rgba(0,0,0,0.6) 50%);
		//background-image: linear-gradient(rgba(0, 0, 0, 1),rgba(0, 0, 0, 0));
		//opacity: .6; 
   }
}

.tour-title {
  font-size: 48px;
}


.tour-cover-image {
  position: relative;
  height: 600px; background-size: cover; 
  //background-position: center; 
  min-height: 600px; 
  //border-radius: 50px;

  /* Create the parallax scrolling effect */
  //background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding-top: 250px;

  &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 600px;
      //background-image: linear-gradient(rgba(0,0,0,0.6), rgba(255, 255, 255, 0));
      background: radial-gradient(rgba(0, 0, 0, 0.1), #000 80%);
      //opacity: .7; 
   }
}

.tour-cover-text {
    position: absolute;
    top: 200px;
    //700px
    //width: -webkit-calc(1170px - 30px);
    //width:    -moz-calc(1170px - 30px);
    //width:         calc(1170px - 30px);
    height: 500px;
    left: 0;
    right: 0;
    //padding-left: 125px;
    //padding-right: 125px;
    //background: red;
    z-index: 2;
    text-align: center;
}

.departure-header {
  border: 3px solid #fff;
  margin-left: auto;
  margin-right: auto;
  margin-top: 10%;
  width: 230px;
}

.info-header {
  position: absolute;
  bottom: 50px;
  width: 80%;
  left: 10%;
  padding-bottom: 15px;
  //right: 50;
  //height: 100px;
  padding-top: 15px;
  background: #fff;
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.75);
}

.portfolio-container {
  background: rgba(0,0,0,0.8);
  margin-top: 100px;
  padding-top: 40px;
  padding-bottom: 40px;
}

.overview-container {
  padding: 20px 40px;
  background-color: rgba(255, 255, 255, 1)
}

.action-button-container {
  bottom: 50%;
  position: fixed;
  //margin: 1em;
  right: 0px;
  z-index: 5;
}

.fab-question {
  position: absolute;
  top: -30px;
  left: 0;
  right: 0;
  width: 100%;
}

.buttons {
  box-shadow: 0px 5px 11px -2px rgba(0, 0, 0, 0.18), 
              0px 4px 12px -7px rgba(0, 0, 0, 0.15);
  border-radius: 0;
  display: block;
  width: 150px;
  height: 56px;
  margin: 20px auto 0;
  position: relative;
  padding: 8px 20px;
  -webkit-transition: all .1s ease-out;
          transition: all .1s ease-out;  
}

.btn-primary.outline {
  border: 2px solid $brand-primary;
  color: $brand-primary;
}

.btn.outline {
  background: none;
  padding: 12px 22px;
}

.btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
  color: darken($brand-primary, 10%);
  border-color: darken($brand-primary, 10%);
}
.btn-primary.outline:active, .btn-primary.outline.active {
  border-color: darken($brand-primary, 10%);
  color: darken($brand-primary, 10%);
  box-shadow: none;
}

.buttons:active, 
.buttons:focus, 
.buttons:hover {
  box-shadow: 0 0 4px rgba(0,0,0,.14),
    0 4px 8px rgba(0,0,0,.28);
}

.buttons:not(:last-child) {
  width: 40px;
  height: 40px;
  margin: 20px auto 0;
  opacity: 0;
  -webkit-transform: translateY(50px);
      -ms-transform: translateY(50px);
          transform: translateY(50px);
}

.action-button-container:hover 
.buttons:not(:last-child) {
  opacity: 1;
  -webkit-transform: none;
      -ms-transform: none;
          transform: none;
  margin: 15px auto 0;
}

/* Unessential styling for sliding up buttons at differnt speeds */

.buttons:nth-last-child(1) {
  -webkit-transition-delay: 25ms;
          transition-delay: 25ms;
  background-color: #E56451;
}

.buttons:not(:last-child):nth-last-child(2) {
  -webkit-transition-delay: 50ms;
          transition-delay: 20ms;
  background: "#E56451";
}

.buttons:not(:last-child):nth-last-child(3) {
  -webkit-transition-delay: 75ms;
          transition-delay: 40ms;
  background: "#E56451";
}

.buttons:not(:last-child):nth-last-child(4) {
  -webkit-transition-delay: 100ms;
          transition-delay: 60ms;
  background: "#E56451";
}

/* Show tooltip content on hover */

[tooltip]:before {
  bottom: 25%;
  font-family: arial;
  font-weight: 600;
  border-radius: 2px;
  background: #585858;
  color: #fff;
  content: attr(tooltip);
  font-size: 12px;
  visibility: hidden;
  opacity: 0;
  padding: 5px 7px;
  margin-right: 12px;
  position: absolute;
  right: 100%;
  white-space: nowrap;
}

[tooltip]:hover:before,
[tooltip]:hover:after {
  visibility: visible;
  opacity: 1;
}

/*! Flickity v2.0.10
http://flickity.metafizzy.co
---------------------------------------------- */

.flickity-enabled {
  position: relative;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  //position: relative;
  height: 100%;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/* ---- previous/next buttons ---- */

.flickity-prev-next-button {
  position: absolute;
  top: 66%;
  width: 44px;
  height: 44px;
  border: none;
  border-radius: 50%;
  background: white;
  background: hsla(0, 0%, 100%, 0.75);
  cursor: pointer;
  /* vertically center */
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.flickity-prev-next-button:hover { background: white; }

.flickity-prev-next-button:focus {
  outline: none;
  box-shadow: 0 0 0 5px #09F;
}

.flickity-prev-next-button:active {
  opacity: 0.6;
}

.flickity-prev-next-button.previous { left: 10px; }
.flickity-prev-next-button.next { right: 10px; }
/* right to left */
.flickity-rtl .flickity-prev-next-button.previous {
  left: auto;
  right: 10px;
}
.flickity-rtl .flickity-prev-next-button.next {
  right: auto;
  left: 10px;
}

.flickity-prev-next-button:disabled {
  opacity: 0.3;
  cursor: auto;
}

.flickity-prev-next-button svg {
  position: absolute;
  left: 20%;
  top: 20%;
  width: 60%;
  height: 60%;
}

.flickity-prev-next-button .arrow {
  fill: #333;
}

/* ---- page dots ---- */

.flickity-page-dots {
  position: absolute;
  width: 100%;
  bottom: -25px;
  padding: 0;
  margin: 0;
  list-style: none;
  text-align: center;
  line-height: 1;
}

.flickity-rtl .flickity-page-dots { direction: rtl; }

.flickity-page-dots .dot {
  display: inline-block;
  width: 10px;
  height: 10px;
  margin: 0 8px;
  background: #333;
  border-radius: 50%;
  opacity: 0.25;
  cursor: pointer;
}

.flickity-page-dots .dot.is-selected {
  opacity: 1;
}